a{
    /*to remove the underline*/
    text-decoration: none;
}
a:hover{
    background: white;
    color: crimson;
    font-family: sans-serif, serif;
}
form{
    text-align: center;
}

.first:hover{
background-color: yellow;
    font-size: 28px;
    font-family:"sans-serif";
}
.bdy{
background-color: aqua;
}
p{
    font-size: 30px;
    font-family:"sans-serif";
    color: white;
    text-align: center;
}
.four{
    border-radius: 10px 15px;
}
.bg{
    background-image: url("https://th.bing.com/th?id=OSK.HERO4cpvuDmIHAEyr86D8ZTfDDhcsgwfl4PsUr-6uYschxs&w=280&h=165&c=15&rs=2&o=6&dpr=1.5&pid=SANGAM");
    background-repeat: no-repeat;
}
.margin{
    margin: 80px;
}